.main-header
{
    background-color: darkred;
    color: white;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.description
{
    font-style: italic;
    text-align: center;
}

.logo
{

    width: 100px;
    height: auto;

}

.form-container
{
    gap: 10px;
    margin-top: 20px;
}

fieldset label
{

    display: block;
    width: 25%;

}

fieldset label[for="Color"]
{
    margin-bottom: 5px;
    text-decoration: underline;

}

fieldset label[for="title"]
{

    margin-bottom: 5px;
    text-decoration: underline;

}

fieldset input
{


    margin-bottom: 10px;
}
